.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: min(500px, calc(70% + 100px));
  margin: 100px auto 50px auto;
}

.divider {
  width: 250px;
  margin: 20px 0;
  color: grey;
}